.contact {
    height: 800px;
}
.contact-ttl {
    border-bottom: 1px solid #bbb;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.contact-form {
    margin: 50px 100px;
}
.form-item {
    margin-bottom: 30px;
}
.form-item input{
    margin: 0 20px;
}
.submit {
    text-align: center;
    margin: 80px;
}
.submit input {
    padding: 20px 60px;
    background-color: #fff;
    color: #9ec8df;
    border: 2px solid #9ec8df;
}